<header>
    <div> <br></div>
    
    <div class="row">
        <div class="col-4">
            <a  href="" [routerLink]="['']">
                <h1>                    
                    Birthday Holder
                </h1>
            </a>
        </div>
        <div class="offset-1 md-col-3">
            <button type="button" class="btn btn-outline-success" routerLink='/list' >List of Birthday</button>
        </div>
        
        <div class="offset-1 md-col-3">
            <button type="button" class="btn btn-primary btn-block" routerLink='/add' >New Birthday</button>
        </div>
       
    </div>

    <br>
    <br>
    <hr>
    

</header>



