<header>
    <div> <br></div>
    
    <div class="row">
        <div class="col-md-9">
            <a  href="" [routerLink]="['']">
                <h1>                    
                    Birthday Holder
                </h1>
            </a>
        </div>
        
       
    </div>
    <div class="row">
        <div class="offset-1 md-col-3">
            <button type="button" class="btn btn-primary btn-block" routerLink='/add' >New Birthday</button>
        </div>
        <div class="offset-1 md-col-3">
            <button type="button" class="btn btn-outline-success" routerLink='/list' >List of Birthday</button>
        </div>
        <div class="offset-1 md-col-3">
            <div [formGroup]="findForm" class="input-group">
                <input type="text" 
                class="form-control" placeholder="min 2 characters" 
                formControlName="searchInput"
                aria-label="" aria-describedby="basic-addon1">
                <div class="input-group-append">
                  <button class="btn btn-success" type="button" 
                    (click)="onFind()" 
                    [disabled]="findForm.invalid">Find</button>
                </div>
              </div>
        </div>
       
        
    </div>

    <br>
    <br>
    <hr>
    

</header>



