<section>
    <div class="offset-1 col-10">
      <div class="col-6">
        <app-datepicker (date)="dateCatcher($event)" ></app-datepicker>
        <p>Current Date value is {{date | date: 'MM/dd/yyy'}}</p>
      </div> 
      
        
      <div class="col-6">      
        <form [formGroup]="addBirthdayForm" >
          
          
          <div class="form-group">
            <label for="NameInput">Name*</label>
            <input type="text" class="form-control" id="NameInput"  formControlName="name" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="SecondNameInput">Second Name</label>
            <input type="text" class="form-control" id="SecondNameInput" formControlName="secondName" placeholder="Second Name" >
          </div>
            

          <!-- Add photo -->
          <div class="form-group">
            <div class="row">
              <div class="col-12 ">
                <label for="image-ad">Load photo</label>
              </div>
            </div>

            <div class="row" *ngIf="imagePreview == null && bbday !== null">
                <div class="col-6 mainImg">
                    <img *ngIf="bbday.photoContent !== null" src="{{ShowImageFromBlob(bbday)}}">
                    <img *ngIf="bbday.photoContent ===  null" src="assets/img/placeholder.png">                        
                  </div>
              </div>
            
            
            <div class="row" *ngIf="imagePreview">
              <div class="col-6 mainImg">
                <img [src]="imagePreview">                    
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <input formControlName="image"
                type="file"
                class="form-control"
                id="image-ad" 
                (change)="onFileUpload($event)" #selectFile
                />
              </div>
            </div>


            </div>
            <div class="row">
              <div class="offset-3 col-6">
                <button type="button" class="btn btn-primary btn-block" 
                (click)="onClick()" 
                [disabled]="bbday === null || bbday.birthday === undefined || addBirthdayForm.invalid" >Change Birthday</button>              
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-outline-info" routerLink=''>Cancel</button>
              </div>
            </div>
        </form>
      </div>
    </div>
</section>
