<section>
    <div class="offset-1 col-10">
        
        
        <form [formGroup]="addBirthdayForm">
            <div class="form-group">
              <label for="NameInput">Name*</label>
              <input type="text" class="form-control" id="NameInput" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="SecondNameInput">Second Name</label>
              <input type="text" class="form-control" id="SecondNameInput" placeholder="Second Name" [disabled]="true">
            </div>
            <app-datepicker (date)="dateCatcher($event)"></app-datepicker>

            <div class="form-group">
              <label for="MonthInput">Select month</label>
              <select class="form-control" id="MonthInput"  formControlName="monthInput" >
                <option [ngValue]="null" selected >Month</option>
                <option *ngFor="let a of months; let i=index " [ngValue]="a">{{a.month}}</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group" >
              <label for="DaysInput">Select day</label>
              <select  class="form-control" id="DaysInput" formControlName="dayInput" [disabled]="true">
                <option *ngFor="let d of days let i=index">{{d}}</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Example textarea</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </form>
    </div>
</section>
