<h2>Creating birthday</h2>
<br>
<section>
    <div class="offset-1 col-10">
      <div class="col-6">
        <app-datepicker (date)="dateCatcher($event)"></app-datepicker>
      </div> 
      
        
      <div class="col-6">      
        <form [formGroup]="addBirthdayForm" >
          
          
          <div class="form-group">
            <label for="NameInput">Name*</label>
            <input type="text" class="form-control" id="NameInput" placeholder="Name" formControlName="name">
          </div>
          <div class="form-group">
            <label for="SecondNameInput">Second Name</label>
            <input type="text" class="form-control" id="SecondNameInput" formControlName="secondName" placeholder="Second Name" >
          </div>
            

          <!-- Add photo -->
          <div class="form-group">
            <div class="row">
              <div class="col-12 ">
                <label for="image-ad">Load photo</label>
              </div>
            </div>
            <div class="row" *ngIf="imagePreview">
              <div class="col-6 mainImg">
                <img [src]="imagePreview">                    
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <input formControlName="image"
                type="file"
                class="form-control"
                id="image-ad" 
                (change)="onFileUpload($event)" #selectFile
                />
              </div>
            </div>


            </div>

            <div class="offset-6 col-6">
                <button type="button" class="btn btn-primary btn-block" (click)="onClick()" [disabled]="bbday === null || addBirthdayForm.invalid" >Create Birthday</button>
            </div>
        </form>
      </div>
    </div>
</section>
