.pagination__wrapper{
    margin-top: 15px;
    margin-left: 10px;
    //justify-content: center;
}
.page-selection{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-right: 10px;
    color: #007bff;
         
}